.app-track__body {
    display: flex;
    flex-direction: row;
    height: 52px;
    align-items: center;
    border-radius: 6px;
}

.app-track__body:hover {
    background: var(--theme-hovered-item-background);
}

.app-track__header {
    gap: 12px;
}

.app-track__header-album-cover {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    object-fit: cover;
    flex-shrink: 0;
}

.app-track__header-album-cover-placeholder {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    background: var(--theme-border-color);
    flex-shrink: 0;
}

.app-track__left {
    display: flex;
    width: 40px;
    min-width: 40px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.app-track__left--playlist {
    padding: 2px;
    overflow: hidden;
    margin-right: 8px;
}

.app-track__album-cover {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    object-fit: cover;
}

.app-track__album-cover-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background: var(--theme-border-color);
}

.app-track__right {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 46px;
    min-width: 0;
}

.app-track__top {
    display: flex;
    flex-direction: row;
    height: 23px;
    justify-content: space-between;
    align-items: flex-end;
}

.app-track__bottom {
    display: flex;
    flex-direction: row;
    height: 23px;
    align-items: center;
    justify-content: space-between;
}

.app-track__playback__and__duration {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

//.app-track__rating {
//    height: 23px;
//}
//
//.app-track__love {
//    height: 23px;
//}
